<div class="tools">
  <div class="navigation">
    <a class="toggle-tool outline" href="#">Outline</a>
    <a class="toggle-tool patches" href="#">Patches</a>
    <a class="toggle-tool comments" href="#">Comments</a>
    <a class="toggle-tool history" href="#">History</a>
  </div>
  <div class="tool">
    This is the place where tools go.
  </div>
</div>